.container {
  max-width: 1220px;

  padding: 0 10px;
  margin: 0 auto;
}

.gallery__inner {
  display: flex;
  flex-direction: column;

  max-width: 80vh;
  width: 100%;

  margin: 10px auto 0 auto;
  
}

.gallery__section {
  height: 48vh;
  margin-bottom: 10px;
}

.gallery__section-1 {
  display: flex;
  justify-content: space-between;
}

.gallery__box-1,
.gallery__box-3 {
  min-width: 25%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.gallery__box-1{
  background-image: url(./../images/nature-7.jpg);
}

.gallery__box-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 2%;
  min-width: 48%;
}

.gallery__box-3 {
  background-image: url(./../images/nature-8.jpg);
}

.gallery__item {
  min-width: 49%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.gallery__item-1{
  background-image: url(./../images/nature-1.jpg);
}

.gallery__item-2{
  background-image: url(./../images/nature-2.jpg);
}

.gallery__item-3{
  background-image: url(./../images/nature-3.jpg);
}

.gallery__item-4{
  background-image: url(./../images/nature-4.jpg);
}

.gallery__section-2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1%;
}

.gallery__box-4{
  display: flex;
  justify-content: space-between;
  min-height: 49%;
}

.gallery__item-5{
  min-width: 74%;
  background-image: url(./../images/nature-9.jpg);
}

.gallery__item-6{
  min-width: 25%;
  background-image: url(./../images/nature-5.jpg);
}

.gallery__box-5{
  display: flex;
  justify-content: space-between;
  min-height: 49%;
}

.gallery__item-7{
  min-width: 25%;
  background-image: url(./../images/nature-6.jpg);
}

.gallery__item-8{
  min-width: 74%;
  background-image: url(./../images/nature-10.jpeg);
}
